* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;


}
.box {
  color: blue;
  text-align: center;
}
.box2 {
  border-radius: 20px;
}
.box3 {
  font-size: 15px;
  width: 600px;
}
.box4 {
    padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box5{
width: 550px;
}
.box6{
width: 500px;
}
.box7{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.box8{
    text-align: center;

}
.box9{
    border-radius: 10px;
    ;
}

hr{
    margin: 100px 0;
}
.box10{
    width: 600px;
    
}
.box11{
    display: flex;
  justify-content: center;
  gap: 20px;
}
.box12{
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}
.box13{
    width: 500px;
}
.box14{
       width: 500px;
}
.box15{
    display: flex;
    justify-content: center;
    gap: 40px;
 border-bottom: 20px;

}
.box16{
  text-align: center;
}
.box17{
   display: flex;
    justify-content: center;
    gap: 40px;
 border-bottom: 20px;
 margin-top: 40px;
}
.bg{
width: 500px;
}
.bg2{
width: 560px;
}
.box18{
  border-radius: 10px;
}
.box19{
  width: 600px;

}
.box20{

   display: flex;
  justify-content: center;
  gap: 20px;
 

}
.box22{
 width: 600px;
  justify-content: center;
 
}
.box23{
   display: flex;
  justify-content: center;
  gap: 20px;
margin-top: 20px;
}
.box24{
  justify-content: center;
  display: flex;
  border-bottom: 20px;
}
.box25{
display: flex;
justify-content: center;
gap: 50px
;
}
.box26{
width: 500px;
}
.box27{
width: 500px;
}
.box28{
  justify-content: center;
  display: flex;
  color: blue;
}
.box29{
  padding: 20px;
  display: flex;
  justify-content: center;
}
.box30{

}
.box34{
display: flex;
justify-content: center;
gap: 25px
;
}
.box33{
  width: 600px;
}
.box35{
  display: flex;
  justify-content: center;
  gap: 40px
  ;
}
.box36{
justify-content: center;
display: flex;
}
.box39{
  display: flex;
  justify-content: center;
  width: 200000px;
}